#icon{
    color: #00577b;
    font-family: 'Crimson Text', serif;
}

.smcard{
    min-height: 200px;
    max-height: 200px;
    padding-top: 15px;
    background-color: rgb(255,255,255,0.2)  
}

.margin-5{
    margin-right: -7px;
}

.margin-6{
    margin-right: -4px;
    margin-left: -4px;
}

.margin-7{
    margin-left: -7px;
}

#smrow{
    max-height: 250px;
}


.smcard-title{
    color: #00577b !important;
    font-size: 1.3em;
    font-family: 'Crimson Text', serif; 
}

#sectioncat{
    
}

.padding-5{
    padding-right:5;
    padding-left:5;
}

#contcat{
    background-color: rgb(255,255,255,0.8);
    min-width: 100%;
    min-height: 560px;
    max-height: 850px;
    align-content: center;
    text-align: center;
    border-radius: 0.5px;
}

.titlec{
    color: #00577b !important;
    font-family: 'Crimson Text', serif;
    font-size: 2.3em;
}

#contcate{
    background-color: rgb(255,255,255,0.8);
    min-width: 100%;
    min-height: 100px;
    max-height: 850px;
    align-content: center;
    text-align: center;
    border-radius: 0.5px;
}