#symbol{
    background-color: #D3D3D3;
    color:#00577b;
}
.card-title {
    color: #00577b !important;
    font-size: 2em;
    font-family: 'Crimson Text', serif;
}

#verhcompras{
    border-radius: 0;
    /* background-color: #00577b; */
    color: #00577b;
    font-family: 'Noto Sans HK', sans-serif;
}

#btnprinc{
    border-radius: 0;
    border-radius: 0;
    background-color: #00577b;
    color: white;
    font-family: 'Noto Sans HK', sans-serif;
    min-width: 110%;
    min-height: 150%;
}

#creditc{
    border-radius: 0;
    background-color:rgb(255,255,255,0.1);
    color: darkgrey;
    border-bottom-color: gainsboro;
    border-right-color: gainsboro;
    border-top-color: gainsboro;
}

#usercont #creditc #basic-addon1 #font{
    font-family: 'Noto Sans HK', sans-serif;
}

#basic-addon1 {
    background-color: #00577b;
    color: white;
}

#head_table{
    background-color: #D3D3D3;
    color: #00577b;
    font-family: 'Noto Sans HK', sans-serif;
}

#edituser{
    font-family: 'Noto Sans HK', sans-serif;
}



