#symbol{
    background-color: #D3D3D3;
    color:#00577b;
}
.card-title {
    color: #00577b !important;
    font-size: 2em;
    font-family: 'Crimson Text', serif;
}

#verhcompras{
    border-radius: 0;
    background-color: #00577b;
    color: white;
    min-height: 8px;
    min-width: 300px;
    font-family: 'Noto Sans HK', sans-serif;
}

#creditc{
    border-radius: 0;
    background-color: #00577b;
    color: white;
}

#usercont #creditc #basic-addon1 #font{
    font-family: 'Noto Sans HK', sans-serif;
}

#basic-addon1 {
    background-color: #00577b;
    color: white;
}

#head_table{
    background-color: #D3D3D3;
    color: #00577b;
    font-family: 'Noto Sans HK', sans-serif;
}